# Build products and artifacts
.*
!/.gitignore
*.html
.m2-repository/
target/
pom.xml.versionsBackup

# Stuff from various IDE's and editors
*.iml
*~
.idea/*
*.ipr
*.iws

.settings
.project
.classpath
bin

# Mac OS X Finder
.DS_Store
